@use '@/styles/global' as *;

.profile-edit-location-new {
  @include flex-display(column, 1.5rem);
  width: 100%;
}

.profile-edit-location-new__header {
  @include flex-display(column, 0.25rem, start, start);
  width: 100%;
}

.profile-edit-location-new__title {
  @include primary-text(1.4rem);
}

.profile-edit-location-new__description {
  @include primary-text(1rem);
}

.profile-edit-location-new__searchbox-container {
  margin-top: 0.25rem;
  width: 100%;
}

.profile-edit-location-new__map-container {
  width: 100%;
  height: 500px;
}