@use '@/styles/global' as *;

.login {
  @include flex-display(column, 2rem, center, center);
  width: 100%;
  margin-top: 2rem;
}

.login__header {
  text-align: center;
}

.login__form {
  @include flex-display(column, 3rem);
  width: 400px;
}

