@use '@/styles/global' as *;

.privacy {
  @include flex-display(column, 1rem, flex-start, center);
  padding: 2rem 0 5rem 0;

  h2 {
    padding-bottom: 1rem;
  }

  p {
    max-width: 800px;
    padding: 1rem;
  }

  ol {
    max-width: 800px;
    padding-left: 3rem;
  }
}