@use '@/styles/global' as *;

.signup {
  @include flex-display(column, 2rem, center, center);
  width: 100%;
  margin-top: 2rem;
}

.signup__header {
  text-align: center;
}

.signup__form {
  @include flex-display(column, 3rem);
  width: 400px;
}

