@use '@/styles/global' as *;

.profile-edit-profile {
  @include flex-display(column, 2rem);
  margin-left: 2rem;
}

.profile-edit-profile__field {
  @include flex-display(column);
  @extend %settings-block;
}

.profile-edit-profile__input-and-save {
  @include flex-display(row, 1rem);
}

.profile-edit-profile__input {
  @include primary-text(1rem);
  padding: 0.5rem;
  width: 400px;
}

.profile-edit-profile__avatar-input {
  @include flex-display(column, 1rem);
}

.profile-edit-profile__avatar-displays {
  @include flex-display(row, 2rem, flex-start, center);
}
.profile-edit-profile__avatar-preview {
  @include flex-display(column, 0.5rem, flex-start, center);
}

.profile-edit-profile__image-buttons {
  @include flex-display(row, 1rem, flex-start, center);
}
