@use '@/styles/global' as *;

.profile-edit {
  @include flex-display(column, 1.5rem);
  margin: 2rem;
}

.profile-edit__header {
  @include flex-display(column);
}

.profile-edit__title {
  @include primary-text(2rem, var(--text-primary), bold);
}

.profile-edit__subtitle {
  @include secondary-text();
}

.profile-edit__tab {
  @include flex-display(row, 0.5rem, flex-start, center);
  @include primary-text(1rem);
}

.profile-edit__content {
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.profile-edit__tabs {
  width: 300px;
}

.profile-edit__tab-button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--text-primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;

  &:hover {
    background-color: var(--button-hover);
    border-radius: 6px;
  }

  &.active {
    background-color: var(--button-active);
    color: var(--button-active-text);
  }
}

.profile-edit__form {
  margin: 0rem 2rem;
  flex: 1;
}
