@use '@/styles/global' as *;

.home {
  @include flex-display(row);
}

.home__map-container {
  flex: 1;
  height: calc(100vh - $header-height);
  position: relative;
}

.home__redo-search-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;

  &:hover {
    background-color: var(--button-hover);
  }
}

.home__sidebar {
  @include flex-display(column);
  flex-shrink: 0;
  width: 400px;
  height: calc(100vh - $header-height);
}

.home__search-results-login-prompt {
  @include flex-display(column, 0, center, center);
  flex: 1;
  font-size: 1.2rem;
}

.home__search-pagination {
  padding: 0.5rem;
  flex-shrink: 0;
}