@use '@/styles/variables' as *;

.map-view__container {
  flex: 1;
  height: calc(100vh - $header-height);
  position: relative;
}

.map-view__map {
  width: 100%;
  height: 100%;
}

.map-view__marker-avatar {
  cursor: pointer;
}

.map-view__marker-avatar-inner {
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.map-view__marker-avatar:hover .map-view__marker-avatar-inner {
  transform: scale(1.4);
}

.map-view__marker-avatar-highlighted .map-view__marker-avatar-inner {
  transform: scale(1.4);
}

.map-view__search-in-map-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 16px;
  background-color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 6px;

  &:hover {
    background-color: var(--button-hover);
  }
}