@use '@/styles/variables' as *;

.map-view__container {
  flex: 1;
  height: calc(100vh - $header-height);
}

.map-view__map {
  width: 100%;
  height: 100%;
}

.map-view__marker-avatar {
  cursor: pointer;
}
