.search-results {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-result-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
    border-radius: 6px;
  }
}

.search-result-item__index {
  font-size: 18px;
  color: #666;
  margin: 4px 16px;
}

.search-result-item__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-result-item__profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 0.5rem;
}

.search-result-item__nav-icon {
  margin: 8px;
}

.search-result-item__username {
  font-size: 18px;
}

.search-result-item__user-info {
  width: 100%;
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-result-item__distance {
  display: flex;
  align-items: center;
  gap: 3px;
}