.profile-edit-profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0px;
}

.profile-edit-profile__field {
  width: 100%;
  background-color: var(--form-field-background);
  padding: 25px;
  border-radius: 6px;
  border: var(--form-field-border);
  display: flex;
  flex-direction: column;
}

.profile-edit-profile__label {
  color: var(--text-primary);
  font-size: 22px;
  padding-bottom: 0.3rem;
}

.profile-edit-profile__description {
  color: var(--text-primary);
  font-size: 16px;
  padding-bottom: 0.8rem;
}

.profile-edit-profile__input {
  font-size: 16px;
  padding: 0.5rem;
  width: 400px;
  margin-right: 1rem;
}

.profile-edit-profile__submit {
  font-size: 16px;
  background-color: var(--button-active);
  color: var(--button-active-text);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-active-hover);
  }

  &:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}

.profile-edit-profile__avatar-displays {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.profile-edit-profile__avatar-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profile-edit-profile__image-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile-edit-profile__image-upload {
  max-width: 400px;
}

.profile-edit-profile__image-button {
  display: inline-block;
  margin-top: 3rem;
  width: 150px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--button-active);
  color: var(--button-active-text);
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--button-active-hover);
  }

  &:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}
