@use '@/styles/global' as *;

.pagination {
  @include flex-display(row, 0, space-between, center);
}

%pagination-button {
  @include borderless-button();
}

%pagination-page-button {
  @extend %pagination-button;
  width: calc(32px + 0.75rem);
  height: calc(32px + 0.75rem);
  padding: 0;
}


.pagination__nav-button {
  @extend %pagination-button;
}

.pagination__page-buttons {
  @include flex-display(row, 0.25rem);
}

.pagination__page-button {
  @extend %pagination-page-button;
}

.pagination__page-button--active {
  @extend %pagination-page-button;

  background: var(--mantine-color-brand-5);
  color: white;

  &:hover {
    background: var(--mantine-color-brand-5);
    color: white;
  }

  &:disabled {
    background: var(--mantine-color-brand-5);
    color: white;
  }

  &:disabled:hover {
    background: var(--mantine-color-brand-5);
    color: white;
  }
}

