@use '@/styles/global' as *;

.pet-display {
  @include flex-display(column, 1rem, center, start);
  @extend %display-panel;
  width: 100%;
}

.pet-display__body-without-notes {
  @include flex-display(row, 1.5rem, start, start);
  width: 100%;
}

.pet-display__info {
  @include flex-display(column, 0.25rem, start, start);
  flex: 1;
}

.pet-display__header {
  @include flex-display(row, 1rem, flex-start, center);
}

.pet-display__name {
  @include primary-text();
}

.pet-display__age {
  @include secondary-text();
}

.pet-display__subtitle {
  @include secondary-text();
}

.pet-display__reactivity {
  @include flex-display(row, 0.5rem, center, center);
  margin-top: 1rem;
}

.pet-display__notes {
  @include flex-display(row, 1rem, start, center);
}
