$color-brand-0: #e6f0ff;
$color-brand-1: #cce0ff;
$color-brand-2: #99c2ff;
$color-brand-3: #66a3ff;
$color-brand-4: #3385ff;
$color-brand-5: #0066cc;
$color-brand-6: #0052a3;
$color-brand-7: #003d7a;
$color-brand-8: #002952;
$color-brand-9: #001429;

$text-primary: black;
$text-secondary: #606060;
$text-field-error: rgb(250, 82, 82);

$color-primary: #0066cc;

$color-error: #ffb0b0;
$color-error-text: black;
$color-error-border: red;
$color-field-error-text: red;

$button-hover: #f0f0f0;
$button-active: #0066cc;
$button-active-text: white;
$button-active-hover: #005bb5;
$button-disabled: #cccccc;

$button-borderless-hover: #cccccc;
$button-borderless-dark-hover: #bbbbbb;

$button-primary: #0066cc;
$button-primary-text: white;
$button-primary-hover: #005bb5;

$button-secondary: #cccccc;
$button-secondary-text: black;
$button-secondary-hover: #b3b3b3;

$button-success: green;
$button-success-text: white;
$button-success-hover: darkgreen;

$button-failure: red;
$button-failure-text: white;
$button-failure-hover: darkred;

$form-field-border-color: #ccc;
$form-field-background: #f4f4f4;

$display-panel-background: #f4f4f4;
$display-panel-border-color: #ccc;

$modal-border-color: #ccc;
$map-blocker-color: lightgrey;

$header-bg: #dfdfdf;
$nav-link-color: #333;
$nav-link-hover: #0066cc;


