$text-primary: black;
$text-secondary: #606060;
$text-field-error: red;

$color-primary: #0066cc;
$color-error: #ffb0b0;
$color-error-text: black;
$color-error-border: red;
$color-field-error-text: red;

$button-hover: #f0f0f0;
$button-active: #0066cc;
$button-active-text: white;
$button-active-hover: #005bb5;
$button-disabled: #cccccc;

$button-borderless-hover: #cccccc;
$button-borderless-dark-hover: #bbbbbb;

$button-primary: #0066cc;
$button-primary-text: white;
$button-primary-hover: #005bb5;

$button-secondary: #cccccc;
$button-secondary-text: black;
$button-secondary-hover: #b3b3b3;

$button-success: green;
$button-success-text: white;
$button-success-hover: darkgreen;

$button-failure: red;
$button-failure-text: white;
$button-failure-hover: darkred;

$form-field-border-color: #ccc;
$form-field-background: #f4f4f4;

$display-panel-background: #f4f4f4;
$display-panel-border-color: #ccc;

$modal-border-color: #ccc;
$map-blocker-color: lightgrey;

$header-bg: #dfdfdf;
$nav-link-color: #333;
$nav-link-hover: #0066cc;

$home-search-pagination-height: 48px;
$home-search-height: 148px;
