@forward 'colors';
@forward 'mixins';
@forward 'typography';
@forward 'buttons';

@use 'colors' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$header-height: 64px;

:root {
  --header-height: #{$header-height};

  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-field-error: #{$text-field-error};

  --color-primary: #{$color-primary};
  --color-error: #{$color-error};
  --color-error-text: #{$color-error-text};
  --color-error-border: 1px solid #{$color-error-border};
  --color-field-error-text: #{$color-field-error-text};

  --button-hover: #{$button-hover};
  --button-active: #{$button-active};
  --button-active-text: #{$button-active-text};
  --button-active-hover: #{$button-active-hover};
  --button-disabled: #{$button-disabled};

  --button-borderless-hover: #{$button-borderless-hover};

  --button-primary: #{$button-primary};
  --button-primary-text: #{$button-primary-text};
  --button-primary-hover: #{$button-primary-hover};

  --button-secondary: #{$button-secondary};
  --button-secondary-text: #{$button-secondary-text};
  --button-secondary-hover: #{$button-secondary-hover};

  --button-success: #{$button-success};
  --button-success-text: #{$button-success-text};
  --button-success-hover: #{$button-success-hover};

  --button-failure: #{$button-failure};
  --button-failure-text: #{$button-failure-text};
  --button-failure-hover: #{$button-failure-hover};

  --form-field-border: 1px solid #{$form-field-border-color};
  --form-field-background: #{$form-field-background};

  --display-panel-background: #{$display-panel-background};
  --display-panel-border: 1px solid #{$display-panel-border-color};

  --modal-border: 1px solid #{$modal-border-color};
  --map-blocker-color: #{$map-blocker-color};
}

%display-panel {
  background-color: var(--display-panel-background);
  padding: 25px;
  border-radius: 6px;
  border: var(--display-panel-border);
}

@mixin avatar() {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.settings-title {
  font-size: 28px;
  font-weight: bold;
}

.settings-subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  font-weight: bold;
}

.settings-block {
  background-color: var(--form-field-background);
  padding: 25px;
  border-radius: 6px;
  border: var(--form-field-border);
}

.settings-block-title {
  font-size: 24px;
}

.settings-field-name {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: normal;
}

.settings-field-description {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: normal;
}

.settings-text-input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 400px;
}

.divider__vert {
  width: 1px;
  background-color: #a0a0a0;
  align-self: stretch;
}

.divider__hor {
  height: 1px;
  background-color: #a0a0a0;
  width: 100%;
}
