* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: black;
  --text-secondary: #606060;
  --text-field-error: red;

  --button-hover: #f0f0f0;
  --button-active: #0066cc;
  --button-active-text: white;
  --button-active-hover: #005bb5;
  --button-secondary: rgb(195, 195, 195);
  --button-secondary-text: black;
  --button-secondary-hover: rgb(179, 179, 179);
  --form-field-border: 1px solid #ccc;
  --form-field-background: #f4f4f4;
  --color-primary: #0066cc;
  --color-error: #ffb0b0;
  --color-error-text: black;
  --color-error-border: 1px solid red;
  --color-field-error-text: red;
  

  --display-panel-background: #f4f4f4;
  --display-panel-border: 1px solid #ccc;

  --button-primary: #0066cc;
  --button-primary-text: white;
  --button-primary-hover: #005bb5;

  --button-secondary: #cccccc;
  --button-secondary-text: black;
  --button-secondary-hover: #b3b3b3;

  --button-success: green;
  --button-success-text: white;
  --button-success-hover: darkgreen;

  --button-failure: red;
  --button-failure-text: white;
  --button-failure-hover: darkred;

  --button-borderless-hover: #cccccc;

  --button-disabled: #cccccc;

  --map-blocker-color: lightgrey;

  --modal-border: 1px solid #ccc;
}

$color-primary: var(--color-primary);

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

@mixin primary-text($font-size: 1.5rem, $font-color: var(--text-primary), $font-weight: normal) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
}

@mixin secondary-text($font-size: 1.25rem, $font-color: var(--text-secondary)) {
  font-size: $font-size;
  color: $font-color;
  font-weight: normal;
}

@mixin field-error-text($font-size: 1.25rem) {
  font-size: $font-size;
  color: var(--text-field-error);
  font-weight: normal;
}

%display-button {
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin custom-button($font-size: 1rem, $background, $color, $hover) {
  @include flex-display(row, 0.5rem, center, center);
  @extend %display-button;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: $font-size;
  background-color: $background;
  color: $color;
  
  &:hover {
    background: $hover;
  }

  &:disabled {
    background-color: var(--button-disabled);
  }
}

@mixin primary-button($font-size: 1rem) {
  @include custom-button($font-size, var(--button-primary), var(--button-primary-text), var(--button-primary-hover));
}

@mixin secondary-button($font-size: 1rem) {
  @include custom-button($font-size, var(--button-secondary), var(--button-secondary-text), var(--button-secondary-hover));
}

@mixin success-button($font-size: 1rem) {
  @include custom-button($font-size, var(--button-success), var(--button-success-text), var(--button-success-hover));
}

@mixin failure-button($font-size: 1rem) {
  @include custom-button($font-size, var(--button-failure), var(--button-failure-text), var(--button-failure-hover));
}

@mixin borderless-button($font-size: 1rem) {
  @include flex-display(row, 0.5rem, center, center);
  @extend %display-button;
  font-size: $font-size;
  background: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background: var(--button-borderless-hover);
  }

  &:disabled {
    background-color: var(--button-disabled);
  }
}

@mixin flex-display($direction: row, $gap: 0, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

%display-panel {
  background-color: var(--display-panel-background);
  padding: 25px;
  border-radius: 6px;
  border: var(--display-panel-border);
}

.avatar__current {
  @include avatar(36px);
  outline: 3px solid green;
}

.avatar__suggested {
  @include avatar(36px);
  outline: 3px solid yellow;
}

.avatar__marker {
  @include avatar(36px);
}

.avatar__menu {
  @include avatar(40px);
}

.avatar__profile {
  @include avatar(128px);
}

.primary-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: 150px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--button-active);
  color: var(--button-active-text);
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--button-active-hover);
  }

  &:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}



.button-text {
  padding-top: 3px;
}

.settings-title {
  font-size: 28px;
  font-weight: bold;
}

.settings-subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  font-weight: bold;
}

.settings-block {
  background-color: var(--form-field-background);
  padding: 25px;
  border-radius: 6px;
  border: var(--form-field-border);
}

.settings-block-title {
  font-size: 24px;
}

.settings-field-name {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: normal;
}

.settings-field-description {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: normal;
}

.settings-text-input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 400px;
}

.divider__vert {
  width: 1px;
  background-color: #a0a0a0;
  align-self: stretch;
}

.divider__hor {
  height: 1px;
  background-color: #a0a0a0;
  width: 100%;
}