@use '@/styles/global' as *;

.add-edit-pet-form {
  @include flex-display(column, 2rem);
  @extend %display-panel;
}

.add-edit-pet-form__header {
  @include flex-display(row);
}

.add-edit-pet-form__title {
  @include primary-text();
  text-align: center;
  flex: 1
}

.add-edit-pet-form__close-button {
  @include borderless-button();
}

.add-edit-pet-form__form {
  @include flex-display(column, 2rem);
}

.add-edit-pet-form__non-radio-inputs {
  @include flex-display(row, 5rem);
}

.add-edit-pet-form__text-inputs {
  @include flex-display(column, 2rem);
}

.add-edit-pet-form__picture {
  @include flex-display(column, 1rem, center, center);
}

.add-edit-pet-form__picture-label {
  @include primary-text(1.1rem, black, bold);
}

.add-edit-pet-form__preview {
  @include avatar();
  margin: 1.5rem;
}

.add-edit-pet-form__reactivity-header {
  @include primary-text(1.1rem, black, bold);
}

.add-edit-pet-form__reactivity-subtitle {
  @include primary-text(1rem);
}