@use '@/styles/global' as *;

.image-upload {
  @include flex-display(column, 1rem, center, center);

  input {
    display: none;
  }
}

.image-upload__button {
  @include primary-button(1.1rem);
  padding: 1rem 4rem;
}

.image-upload__input {
  display: none;
}
