

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    display: inline-flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--button-active);
    color: var(--button-active-text);
    border: none;
    cursor: pointer;

    &:hover {
      background: var(--button-active-hover);
    }
  }

  input {
    display: none;
  }
}
