@use '@/styles/global' as *;

.radio-button-group {
  @include flex-display(row, 1rem, flex-start, center);
}

.radio-button-group__input-label {
  @include flex-display(row, 0.5rem, flex-start, center);
  @include primary-text(1rem);
  border: none;
  border-radius: 12px;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  min-width: 10rem;
  justify-content: center;

  &:hover {
    outline: 1px solid var(--mantine-color-brand-5);
  }

  input { 
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &:has(input:checked) {
    background-color: var(--mantine-color-brand-5);
    color: white;
  }
}