@use "@/styles/global" as *;

.reactivity-input {
  @include flex-display(column, 1rem, center, start);
  width: 100%;
}

.reactivity-input__radio-group {
  @include flex-display(row, 1rem);
}

.reactivity-input__label {
  @include flex-display(row, 0.5rem, start);
  @include primary-text(1.25rem);
  width: 7rem;
}

.reactivity-input__notes {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.reactivity-input__error-text {
  @include field-error-text();
  margin-top: 0.25rem;
}